<% stylesheet('assets/'+key+'/portlet.css') %>
<br>
<div class="logo">
  <a href="sarah/<%=key%>?" class="ajax"><img src="/assets/<%=key%>/images/autopilot.jpg" title="FFS2" width="200px"></a>
</div>

<div class="text">
  <br/><span class="title">Copilote sur FSX et P3D</span>
</div>