
.plugin-gridster.autopilot .front {
  background: none url('images/jarvis.png') center;
  background-size:   250px 250px;
  background-repeat: no-repeat;
}

.plugin-gridster.autopilot .back {
  background: #FFFFFF;
}